
@model WebApplication1.Models.Prices

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<section class="price-card">
    <header class="card-header">
        <h3>@Model.Title</h3>
        <p>@Model.Description</p>
    </header>
    <hr />
    <section class="card-cta">
        <div><span>@Model.Price</span></div>
        <a href="#">Buy Now</a>
    </section>
    <hr />
    <ul class="card-list">

        @foreach(string feature in Model.Features)
            {
                <li>@feature</li>
            }

    </ul>
</section>