@page
@model WebApplication1.Pages.TestPageModel
@{
}

<a asp-page="Index">Go Home</a>

<progress value="50" max="100"></progress>

<h1 draggable="true" id="drag">This is a test page</h1>
<p>Hi this is a paragraph</p>

<code class="modal-header" dir="auto"></code>

<hr style="height: 1.5rem"  />

<input dropzone="copy" list="colors" />

<datalist id="colors">
    <option value="Red">Red</option>
    <option value="Blue">Blue</option>
    <option value="Black">Black</option>
    <option value="Purple">Purple</option>
    <option value="Yellow">Yellow</option>
</datalist>